services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: antisocial-app
    restart: always
    ports:
      - "3000:3000"
    env_file: .env
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    container_name: antisocial-db
    restart: always
    env_file: .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
